* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left,#8585ff,#ff7878fd);
}

.container{
    background: linear-gradient(to top right, #ff3636fd, #6868ff);
    padding: 1.2rem;
    border-radius: 0.6rem;
    border: 2px solid blueviolet;
}

h1{
    margin: 1rem 0;
}

input{
    width: 100%;
    padding: 0.9rem;
    margin: 1.2rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    transition: all 0.2s linear;
    background-color: #4c6faf;
    color: #fff;
    padding: 0.7rem 0.9rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

button:hover {
    background-color:#465b81;
}

#result{
    margin-top: 10px;
}